doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/list.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css", integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    .wrapper
        ul
            each val in arrayObjects
              if val.quantity !== 0
                li
                    span.nameList=val.name
                      span : 
                    span.quantityList=val.quantity
                    span.delete Delete
    block scripts
      script(src='/javascripts/delete.js')