.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
}

#root>div {
  width: 50%;
}

.address-container {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 30% 63% 7%;
  text-align: left;
  padding: 20px;
}

.address-container>label {
  padding-left: 20px;
}

.split-input {
  display: flex;
  justify-content: space-evenly;
}

.split-input>span {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

select {
  width: 100%;
  padding: 1px 2px;
}

input {
  width: 100%;
}

.single-input {
  padding-left: 20px;
  padding-right: 20px;
}

.input-label {
  font-size: small;
  font-weight: normal;
  color: #888888;
}

label {
  font-weight: bold;
}

form {
  border: solid;
}

.error {
  color: red;
  font-size: small;
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 30px;
}

button:hover {
  transform: scale(1.1);
  background-color: #dbb3b3;
  transition: 0.5s;
}